*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color:#d6591a;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --big-font:80px;
    --h2-font:36px;
    --p-font:15px;
}
*::selection{
    background:var(--main-color);
    color: var(--text-color);
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: inline-flex;
    justify-content: space-between;
    background: var(--bg-color);
}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 40px;
    margin-right: 100px;
}
#icon{
    border-radius: 500px;
    width: 50px;
    height: 50px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 32px;
    cursor: pointer;
    display: none;
}
/* ---------Home Start---------- */
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 16px 0 32px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 8px;
}
.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
/*---------- Home End ---------- */

/*---------- About Start ---------- */
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 24px;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text h2{
    font-size: var(--h2-font);
}
.about-text p{
    margin: 16px 0 32px;
    line-height: 1.7;
}
/*---------- About End ---------- */

/*---------- Menu Start ---------- */
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 600;
}
.heading h2{
    font-size: var(--h2-font);
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    grid-gap: 24px;
    align-items: center;
}
.box{
    position: relative;
    margin-top: 64px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 8px;
}
.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 22px;
    color: var(--bg-color);
}
.box h3{
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}
.box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0; 
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 8px 0 8px;
}
/*---------- Menu End ---------- */

/*---------- Services Start ---------- */
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 24px;
    margin-top: 64px;
    display: flex;

}
.s-box{
    text-align: center;
    padding: 20px 30px;
}
.s-box img{
    width: 90px ;
}
.s-box h3{
    margin: 4px 0 10px;
    color: var(--main-color);
    font-style: 20px;
}
.s-box p{
    line-height: 1.7;
}
/*---------- Services End ---------- */

/*---------- Contact Start ---------- */
.cta{
    background: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px
}
.cta h2{
    font-size: 32px;
    color: var(--bg-color);
    margin-bottom: 30px;
}
/*---------- Contact End ---------- */

/*---------- Footer Start ---------- */
.main{
    display: flex;
    flex-wrap: wrap;

}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    font-style: 20px;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background:var(--main-color) ;
}
.col ul li:not(:last-child){
    margin-bottom: 15px;
}
.col ul li a{
    color: #9897a9;
    font-size: 18px;
    display: block;
    transition: .4s;
}
.col ul li a:hover{
    color: var(--text-color);
    transform: translate(-12px);
}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}
/*---------- Footer End ---------- */
@media(max-width:1560px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:55px;
        --h2-font:32px;
    }
}

@media(max-width:1140px){

    section{
        padding: 50px 8%;
    }
    #menu-icon{
        position: relative;
        display: initial;
        color: var(--text-color);
        right: 30px;
    }
    header .navbar{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgb(43, 38, 64, .9);
        display: none;
    }

    header .navbar .active{
        top: 70px;
    }
    .navbar a{
        padding: 24px;
        display: block;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}
@media(max-width:720px) {
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about img{
        order: 2;
    }
    section{
        padding: 100px 7%;
    }
}


@media(max-width: 767px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:30px;
        --h2-font:16px;
    }

    .col,
    .box,
    .s-box{
        width: 100%;
    }

    .service-container{
        display: flex;
        flex-direction: column;
    }
}

































